@{
	ViewBag.Title = "Home Page";
}
<div class="container bodyindex">
	<br />
	<br />
	<div class="row">
		<div class="col-md-7">
			<div class="">
				<h1>Clínica Veterinária</h1>
				<p class="lead">Consulta, Tratamentos clínico-cirúgicos, internações com a presença de médicos especializados.</p>
				<p><a href="@Url.Action("Contact","Home")" class="btn btn-primary btn-lg">Contate-nos &raquo;</a></p>
			</div>
		</div>
		<div class="col-md-5">
			<img src="@Url.Content("~/Content/Images/pet-animais.jpg")" class="img-thumbnail" />
		</div>

	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<div class="container">

	<div class="row text-center">
		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/consulta.jpeg")" class="img-responsive img-thumbnail" />
			<h2>Consultas</h2>
			<p>
				Médicos totalmente especializados para cuidar do seu animal de estimação
			</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<img src="@Url.Content("~/Content/Images/vacina.png")" class="img-responsive img-thumbnail" />
			<h2>Vacinas</h2>
			<p>Deixe seu amigo bem protegido</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
		</div>
		<div class="col-md-3">
			<img src="@Url.Content("~/Content/Images/cirurgia.jpg")" class="img-responsive img-thumbnail" />
			<h2>Cirurgias</h2>
			<p>Instrumentos e tecnologias de alta categoria para o seu amigo</p>
			<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
		</div>
	</div>
</div>
